html {
  font-size: 16px;
}

.wrapper{
    width: min(90%, 600px);
    margin: auto;
    border: 2px solid black;
     padding: clamp(1rem, 2vw, 3rem);
}



.title {
  font-size: clamp(2rem, 6vw, 4rem);
}

.text {
  width: 60ch;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.btn {
  font-size: 1rem;
  padding: 1em 2em;   /* em relative to button text */
  width: fit-content(200px);
}

