/* -GLOBAL STYLES */
body {
     margin: 0;
     font-family: Arial, sans-serif;
     background: #f3f4f7;
}

h2 {
     margin: 0 0 15px;
}

/* MAIN GRID LAYOUT
(Header, Sidebar, Content, Footer)*/

.layout {
     display: grid;
     height: 100vh;
     grid-template-columns: 250px 1fr;
     grid-template-rows: 70px auto 70px;
     grid-template-areas:
     "header header"
     "sidebar main"
     "footer footer";
}

header {
            grid-area: header;
            background: #111827;
            color: white;
            display: flex;
            align-items: center;
            padding: 0 20px;
            font-size: 20px;
        }

aside {
            grid-area: sidebar;
            background: #1f2937;
            color: white;
            padding: 20px;
        }

        main {
            grid-area: main;
            padding: 20px;
            overflow-y: auto;
        }

        footer {
            grid-area: footer;
            background: #111827;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }


        /* ---------------------------
           HERO SECTION (GRID)
        ----------------------------*/
        .hero {
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            padding: 30px;
            background: rgb(223, 198, 198);
            border-radius: 10px;
            gap: 20px;
            margin-bottom: 20px;
        }


         .hero .left {
            display: grid;
            place-items: center;
            background: #dbeafe;
            border-radius: 10px;
            padding: 20px;
        }

        .hero .right {
            background: #fef3c7;
            border-radius: 10px;
            padding: 20px;
        }
        
        /* ---------------------------
           RESPONSIVE PRODUCT GRID
        ----------------------------*/
        .product-grid {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
          }

     .product {
            background: rgb(253, 77, 77);
            padding: 20px;
            color: aliceblue;
            font-weight: bolder;
            border-radius: 10px;
            text-align: center;
        }

        .masonry {
            display: grid;
            grid-auto-flow:dense;
            gap: 20px;
            grid-template-columns: repeat(auto-fll, minmax(200px, 1fr));
            margin-top: 30px;
          }

          .masonry div {
            background: #ff7f7f;
            color: aqua;
            padding: 20px;
            border-radius: 10px;
        }
        .masonry .big {
            grid-row: span 2;
        }

         .masonry .wide {
            grid-column: span 2;
        }

/* ---------------------------
           NESTED GRID
        ----------------------------*/
        .nested {
            margin-top: 30px;
            background: white;
            padding: 20px;
            border-radius: 10px;
        }

        .nested .grid-box {
            display: grid;
            grid-template-columns: 100px 1fr;
            gap: 10px;
            padding: 10px;
            background: #e5e7eb;
            border-radius: 10px;
        }

 /* ---------------------------
           MEDIA QUERY FOR SMALL DEVICES
        ----------------------------*/
        @media(max-width: 768px) {
            .layout {
                grid-template-columns: 1fr;
                grid-template-rows: 70px auto auto 70px;
                grid-template-areas:
                    "header"
                    "hero"
                    "main"
                    "footer";
            }

            aside {
                display: none;
            }

            .hero {
                grid-template-columns: 1fr;
            }