body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f4f6;
}

.title {
    text-align: center;
    padding: 20px;
}

/* PINTEREST GRID */
.gallery {
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
    background: white;
    height: 150px;
    border-radius: 12px;
    display: grid;
    place-items: center;
    font-size: 30px;
    font-weight: bold;
}

/* SPAN SIZES LIKE PINTEREST */
.tall {
    height: 320px;
}

.wide {
    grid-column: span 2;
}

.tall.wide {
    grid-column: span 2;
    height: 380px;
}
