* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background: #05012fb1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* FORM CARD */
form {
  background: #3b39c1;
  padding: 2rem;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

/* INPUT */
form input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin: 10px 0;
  border: 1px solid #a1c7ff;
  border-radius: 8px;
  outline: none;
  transition: 0.2s;
}

form input:focus {
  border-color: #6366f1;
  box-shadow: 0 0 5px rgba(99,102,241,0.4);
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  background: #6366f1;
  border: none;
  border-radius: 8px;
  color: rgb(211, 193, 248);
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #4f46e5;
}

button:active {
  transform: scale(0.97);
}

/* STATUS MESSAGES */
p {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

p:nth-of-type(1) {
  color: #ffffff;
}

p:nth-of-type(2) {
  color: #16a34a;
}

p:nth-of-type(3) {
  color: #dc2626;
}
